## polymarket-quant-desk configuration
##
## This configuration file defines the file paths and credentials for your installation.
## Documentation below shows you how to configure this and sign up for the necessary onlines
## services to get the data you need and execute trades.
##
## In addition to the standard configuration, you may add your own variables to this file as you
## develop your own datasets, explorations and trading bots. If new variables are introduced
## upstream in the GitHub project, you will be responsible to merge them into your local .env file.
##
## Estimated setup time: 30+ minutes
## 

## File storage
##
## Use a location with 1+ TB free space and SSD or faster (i.e. ≥ 400 MB/s sequential read, ≥ 10,000
## random 4K read IOPS).
##
## For a cloud VPS deployment, use object storage for the cold data (immutable), and block storage
## for the hot data (mutable DuckDB databases).
##
DATA_BASE_DIR=/Volumes/polymarket-quant-desk
TEMP_DIR=/Volumes/polymarket-quant-desk/tmp
POLYGON_CONTRACT_EVENTS_V3_HOT_DB=${DATA_BASE_DIR}/raw_data/hot/polygon_contract_events_v3.db
POLYGON_CONTRACT_EVENTS_V3_DIR=${DATA_BASE_DIR}/raw_data/cold/polygon_contract_events_v3
TOKEN_ID_MAP_V1_DIR=${DATA_BASE_DIR}/derived_data/token_id_map_v1
FILLS_V1_DIR=${DATA_BASE_DIR}/derived_data/fills_v1

## Online services
##
## You will need access to several services to get necessary data and execute trades on your quant
## desk. Following are services confirmed to work with polymarket-quant-desk. Each offers a free
## tier unless otherwise noted. Other competing services may also work.
##
## POLYGON_RPC_URL (for settled transaction on blockchain, and to execute trades)
## - dRPC (https://drpc.org/)
## - Infura (https://infura.io/)
## - Chainstack (https://chainstack.com/)
##
## ETHERSCAN_API_KEY (for contract source code)
## - Etherscan (https://etherscan.io/)
##
## (OPTIONAL) POLYNODE_API_KEY (to execute trades)
## - Polynode (https://polynode.dev/)
##
POLYGON_RPC_URL=
POLYGON_RPC_MAX_GETLOGS_BLOCK_SPAN=10000
POLYGON_RPC_MAX_REQUESTS_PER_SECOND=25
ETHERSCAN_API_KEY=
POLYNODE_API_KEY=
